<template>
  <main id="app">
    <div class="container">
      <MyHeader />
      <section class="container--inputs">
        <div class="container--inputs-first">
          <InputCustom v-model="searchItem" />
          <ButtonComponent :buttonText="buttonText[0]" @click="getGifs()" />
        </div>

        <div class="container--input-second">
          <p>History</p>
          <ul class="list">
            <li v-for="(list, i) in history" :key="i">
              {{ list }}
            </li>
          </ul>
        </div>
      </section>

      <section class="container--gif">
        <article v-for="gif in gifs" :key="gif.id">
          <img class="doggie" :src="gif" />
          <ButtonComponent :buttonText="buttonText[1]" @click="saveGif(gif)" />
        </article>
      </section>
    </div>
  </main>
</template>

<script>
import MyHeader from "./components/MyHeader.vue";
import ButtonComponent from "./components/ButtonComponent.vue";
import InputCustom from "./components/InputCustom.vue";

export default {
  name: "App",
  data() {
    return {
      searchItem: "",
      buttonText: ["Search", "Save as Favorite"],
      gifs: [],
      history: [],
      gifSaved: [],
    };
  },
  components: {
    MyHeader,
    InputCustom,
    ButtonComponent,
  },
  methods: {
    getGifs() {
      let apiKey = process.env.VUE_APP_GIPHY;
      let searchEndPoint = "https://api.giphy.com/v1/gifs/search?";
      let limit = 4;
      let url = `${searchEndPoint}&api_key=${apiKey}&q=${this.searchItem}&limit=${limit}`;
      fetch(url)
        .then((response) => {
          return response.json();
        })
        .then((json) => {
          this.buildGifs(json);

          this.storeItem();
          this.getItem();
          this.searchItem = "";
        })
        .catch((err) => console.log(err));
    },
    buildGifs(json) {

      this.gifs = json.data
        .map((gif) => gif.id)
        .map((gifId) => {
          return `https://media.giphy.com/media/${gifId}/giphy.gif`;
        });
    },
    storeItem() {
      this.history.push(this.searchItem);
      localStorage.setItem("word", JSON.stringify(this.history));
      this.searchItem = "";
    },

    getItem() {
      this.history = JSON.parse(localStorage.getItem("word"));
    },
      saveGif(id) {
       this.gifSaved.push(id)
       localStorage.setItem("word", JSON.stringify(this.gifSaved))
    },

  },
};
</script>

<style>
* {
  --brand-green: #04b500;
  --brand-blue: #0689b0;
}
html,
body,
#app {
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background: #181818;
}
.container {
  min-height: 100vh;
  max-width: 1200px;
  margin: auto;
  color: white;
}
.container--inputs {
  display: flex;
  justify-content: center;
}
.container--input-first,
.container--input-second {
  width: 250px;
  height:auto;
}
.container--input-second p {
  font-size:18px;
  color: var(--brand-blue);
}

.container--gif {
  padding: 20px;
  display: grid;
  gap: 1rem;
  grid-auto-rows: 22rem;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
}
img,
span {
  width: 48px;
}
h1 {
  font-size: 45px;
  color: var(--brand-blue);
}
h1 span {
  color: var(--brand-green);
}
.doggie {
  width: 250px;
  height: 250px;
}
</style>
