<template>
<button v-on="$listeners">{{buttonText}}</button>
</template>
<script>
export default {
  props: {
    buttonText:{
      type: String, 
      required: true,
    }
  },
 
};
</script>
<style>
button {
    background-color: rgb(0, 172, 0);
    color: white;
    padding: 10px 25px;
    border: none;
    display: block;
    margin: 0 auto;
    font-weight: bold;
    text-transform: uppercase;
}
button:hover {
  background-color: rgb(0, 148, 0);
}
</style>