<template>
  <p>
    Search a Dog
    <input
      type="text"
      :value="value"
      @input="$emit('input', $event.target.value)"
    />
  </p>
</template>
<script>
export default {
  props: {
    value:{
      type: String, 
      required: true,
    }
  },
};
</script>
<style scoped>
p{
  color:white;
  font-size:20px;
}
input[type="text"] {
    padding: 5px;
    font-weight: 900;
    width:200px;
}
</style>
