<template>
  <header>
    <img @click="reload" src="https://www.antevenio.com/wp-content/uploads/2018/08/giphy.jpg" alt="Logo" />
    <h1><span>Gif</span>Searcher</h1>
    <span></span>
  </header>
</template>

<script>
export default {
  methods: {
    reload() {
      location.reload();
    },
  },
};
</script>

<style scoped>
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
}
img,
span {
  width: 48px;
}
h1 {
  font-size: 1.4rem;
}
</style>